<button
    type="button"
    app-back-navigation-button>
    Back
</button>
<button
    type="button"
    (click)="readonly = !readonly">
    {{ editButtonText }}
</button>
<form
    *ngIf="user != null"
    (ngSubmit)="onFormSubmitted()">

    <div class="form-group">
        <div class="form-field">
            <label for="user-name">Name:</label>
            <input type="text"
                id="user-name"
                name="user-name"
                [disabled]="readonly"
                required
                [ngModel]="user.name"
                (ngModelChange)="user.name = $event; onNameChanged()"
                valueAccessorStatus
                #userNameAccessorStatusRef="valueAccessorStatus"/>
            {{userNameAccessorStatusRef.errorMessage}}
        </div>
    
        <div class="form-field">
            <label for="user-email">Email:</label>
            <input type="text"
                id="user-email"
                name="user-email"
                [disabled]="readonly"
                [ngModel]="user.email"
                (ngModelChange)="user.email = $event; onEmailChanged()"
                valueAccessorStatus
                #userEmailAccessorStatusRef="valueAccessorStatus"/>
            {{userEmailAccessorStatusRef.errorMessage}}
        </div>
    
        <div class="form-field">
            <label for="user-password">Password:</label>
            <app-input-text
                id="user-password"
                name="user-password"
                [disabled]="readonly"
                required
                [ngModel]="user.password"
                (ngModelChange)="user.password = $event; onPasswordChanged()"
                password-checker
                valueAccessorStatus
                #userPasswordAccessorStatusRef="valueAccessorStatus">
            </app-input-text>
            {{userPasswordAccessorStatusRef.errorMessage}}
        </div>
    
        <div class="form-field">
            <label for="user-city">City:</label>
            <app-selector-entity
                id="user-city"
                name="user-city"
                [disabled]="readonly"
                [entityType]="selectorEntityRef.entityTypeEnum.City"
                [ngModel]="user.city"
                (ngModelChange)="user.city = $event; onCityChanged()"
                #selectorEntityRef>
            </app-selector-entity>
        </div>
    </div>

    <div
        *ngIf="!readonly"
        class="form-buttons">
        <button type="reset">Reset</button>
        <button type="submit">Save</button>
    </div>

</form>
