ng-select {
    width: 100%;

    ::ng-deep {
        .ng-select-container {
            border: 1px solid #dee2e6;
            border-radius: 6px;
            padding: 6px 12px;
            width: 100%;

            min-height: initial;
            height: initial !important;
        }
    }
}
